*{
font-family: sans-serif;
margin: 0;
padding: 0;
}
/*header start*/
header{
background-color: #121b2a;
padding: 10px;
border-bottom: 2px solid #0a0e17;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}

.logo {
width: 20%;
float: left;
}
.logo img{
	width: 100%;
}

.menu {
	width: 60%;
	
	float: right;
	overflow: hidden;
}
.menu ul{
	margin-top: 50px;
	overflow: hidden;
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	word-spacing: 4px;
	font-size: 18px;
	color: white;
	display: block;
    margin-right: 40px;
    transition: 0.5s;
	
}

.menu ul li:last-child a{
    margin-right: 0;
	
}
.menu ul li a:hover {
	color: #075789;
	
}
/*header end*/
/*banner start*/
.banner{
	padding: 20px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;

}
.b_content{
    width: 40%;
    margin-top: 250px;
    margin-bottom: 120px
    

}
.b_content p:first-child{
	color: white;
	font-size: 30px;
	line-height: 50px;

}
.b_content h1{
	color: #075789;
	font-size: 35px;
	line-height: 50px;

}
.b_content p:nth-last-child(2){
	color: white;
	line-height: 25px;

}
.b_content button{
	border: none;
	padding: 15px 10px;
	background: #ffffff;
	color: #5a5a5a;
	border-radius: 5px;
margin-top: 20px;
font-weight: 700;
}
.b_content button span{
	background-color: blue;
    padding: 5px 8px;
    border-radius: 50%;
    color: white;
}
/*banner end*/

/*service start*/
.service {
	padding-top: 100px;
	padding-bottom: 40px;
	background-color: #121b2c;
}

.wrapper {
	overflow: hidden;
}
.single{
	margin-right: 65px;
	padding-right: 0px;
	
	width: 26%;
	color: white;
	float: left;
}
.single:nth-child(2){
	padding: 0 45px;
	border-right: 1px solid #5a5a5a;
	border-left: 1px solid #5a5a5a;
}
.single:last-child{
margin-right: 0;
	border-right: 0;
}
.single:nth-child(3) h2{
margin-top: 60px;

}

.s_title {
	/*border: 1px solid;*/
	overflow: hidden;
	padding-bottom: 20px;
}

.s_icon {
	width: 25%;
	float: left;
}
.s_icon img{
width: 100%;
}
.s_title h2{
margin-top: 10px;
float: left;
}

.s_title h2 span{

color: #075789;
}
.single p{
line-height: 30px;
}


/*service end*/

/*contact start*/
.contact{
border: 1px solid;
width: 100%;
background-color:#040811;
}
.wrapper_2{
width: 70%;
margin: 0 auto;
overflow: hidden;
}
.single_2{
	padding: 40px 0;
	margin-right: 25px;
width: 30%;
color: white;
float: left;
}
.single_2:last-child{
	margin-right: 0;
}
   #talkbubble {
      margin-bottom: 20px;
      padding: 25px 10px;
      width: 245px;
      height: 105px;
      background: #0c1019;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    #talkbubble:before {
    content: "";
    position: absolute;
    right: 20%;
    top: 154px;
    width: 0;
    height: 0;
    border-top: 34px solid #0c1019;
    border-right: 45px solid transparent;
    }
.single_2 h2{
font-size: 20px;
}
.single_2:first-child h2{
margin-top: 25px;
}
.single_2 address{
font-size: 10px;
line-height: 20px;
}
.single_2 p{
font-size: 10px;
line-height: 20px;
}
.single_2 h2 span{
color: #075789;
}
.single_2 a{
	font-size: 10px;
	text-decoration: none;
	color: white;
}
.single_2 img{
	width: 100%;
}
/*contact end*/

/*footer start*/
footer{
	padding: 25px 0;
	background-color: #121b2c
;
}
.wrapper_2 {
	overflow: hidden;
}

.menu_2 {
float: left;
}
.menu_2 ul{

}
.menu_2 ul li{
	list-style: none;
	float: left;

}
.menu_2 ul li a{
	margin-right: 25px;
	font-size: 12px;
text-decoration: none;
color: white;
transition: 0.5s;
}

.menu_2 ul li a:hover{
	color: blue;
}
.menu_2 p{
	    margin-top: 35px;
    color: white;
    font-size: 12px;
}

.symbian {
	margin-right: 20px;
    margin-left: 55px;
float: left;
}

.logo_2 {
	float: left;
}
/*footer end*/